In [1]:
import pandas as pd

import censusgeocode as cg

In [23]:
df = pd.read_csv('../data/MHM_Dashboard.csv')

In [72]:
df.head(10)

                                            Address
0              Urb Baldrich 215, San Juan, PR 00918
1               165 Tor Court, Pittsfield, MA 01201
2  444 Stockbridge Road, Great Barrington, MA 01230
3             275 Nichols Road, Fitchburg, MA 01420
4                100 Trade Center, Woburn, MA 01801
5                    PO Box 246, Franklin, MA 02038
6                  47 West Street, Boston, MA 02111
7                      61 Leon St, Boston, MA 02115
8        723 Massachusetts Avenue, Boston, MA 02118
9           643 Parkwood Dr., Clarksville, IN 47129

In [47]:
def address_to_fips(address):
    geographies = cg.onelineaddress(address, returntype='geographies')
    if geographies:
        fips = geographies[0]['geographies']['Counties'][0]['GEOID']
    else:
        fips = None
    return fips

In [57]:
len(df)

890

In [77]:
fips = []
for i in range(len(df)):
    adr = df.iloc[i]
    f = address_to_fips(adr)
    fips.append(f)

In [78]:
len(fips)

890

In [79]:
df["FIPS"] = fips

In [81]:
df.head()

                                            Address   FIPS
0              Urb Baldrich 215, San Juan, PR 00918   None
1               165 Tor Court, Pittsfield, MA 01201  25003
2  444 Stockbridge Road, Great Barrington, MA 01230  25003
3             275 Nichols Road, Fitchburg, MA 01420  25027
4                100 Trade Center, Woburn, MA 01801   None

In [83]:
df = df.dropna()

In [87]:
df.groupby("FIPS").count().describe()

          Address
count  262.000000
mean     1.916031
std      2.257514
min      1.000000
25%      1.000000
50%      1.000000
75%      2.000000
max     27.000000